.md-header__button.md-logo img,.md-header__button.md-logo svg {
  height: 3.2rem;
}

.md-header__title {
  font-size: 2rem;
}

[dir=ltr] .md-header__title {
  margin-left: .4rem;
  margin-right: .4rem
}

.md-header {
  -webkit-box-shadow: 0 8px 40px -6px rgba(70,70,70,.4);
  box-shadow: 0 8px 40px -6px rgba(70,70,70,.4)
}

article img {
  margin: 2rem 0;
}

article p {
  margin: 1rem 0;
}

article {
  padding-bottom: 4rem;
}

/* somehow tailwind class did not get taken, so putting it in here */
hr {
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
}

/* add small external arrow icon after every link when leaving the site */
main a[href^="http"]:not([href*="phaidra.org"]):not([href*="localhost"]):after {
  background-image: url('/assets/img/icons/external.svg');
  display: inline-block;
  height: 10px;
  width: 1rem;
  content: "";
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-position-x: 6px;
  background-size: 10px;
  margin-left: auto;
  flex-shrink: 0;
}

/* since color of this icon has to be hardcoded into the svg we created a second one for the hover color */
main a[href^="http"]:hover:not([href*="phaidra.org"]):not([href*="localhost"]):after {
  background-image: url('/assets/img/icons/external_hover.svg');
}